<form>
  <fieldset>
    <legend>New Item</legend>
    {{view Ember.TextField valueBinding=date placeholder="Belegdatum"}}
    {{view Ember.TextField valueBinding=number placeholder="Belegnummer"}}
    <br>
    {{view Ember.TextArea valueBinding=description placeholder="Beschreibung"}}
    <br>
    {{view Ember.TextField valueBinding=totalWithTax placeholder="Betrag"}}


  </fieldset>
  <button {{action "saveItem"}}>Speichern</button>
</form>